{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda aut ipsa modi quis sed sequi ut voluptates? Cumque delectus doloremque doloribus incidunt iure libero mollitia, nostrum quas tempora voluptates!</p>

{% endblock %}
